/* 全局设定 */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.page{
	width: 1280px;
    height: 100%;
	background-color: white;

	margin: 0px auto;
}

/* 头部 */
.header{
	width: 100%;
	height: 60px;

	position: relative;
}

/* 左侧站名logo */
.header_logo{
  	position: absolute;
	left: 60px;
    top: 15px;
	cursor: pointer;
}

.header_title{
	font: 21px "黑体";
    
    position: relative;
    left: 5px;
    bottom: 8px;
	cursor: pointer;
}

/* 登录按钮 */
.login{
	width: 120px;
    float: right;

    margin-top: 20px;
}

.t_login{
	font: bold 14px "微软雅黑";
	color: #E74F4D;
	cursor: pointer;
}

/* 导航栏 */
.nav{
	width: 500px;
	height: 60px;

    float: right;
}

.nav li{
	width: 60px;
    font: 14px "微软雅黑";
    color: #787B83;
    list-style-type: none;
    padding-bottom: 18px;
    
    margin:20px 5px 0px;
    padding: 0px 10px 18px;

	float: left;

	cursor: pointer;
}

.nav li:hover{
	border-bottom: 4px solid #E8504E;
	color: #E8504E;
}

/* 第一栏 */
.pic1{
    height: 854px;

    position: relative;
}

/* 覆盖层 */
.pic1_cover{
    height: 100%;
    width: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
}

.h_pic1{
	font: 60px "微软雅黑";
	color: white;

	position: absolute;
	top: 220px;
	left: 120px;
}

.t_pic1{
	font: 21px/30px "微软雅黑";
	color: white;

	position: absolute;
	top: 310px;
	left: 126px;
}

/* 图一红色按钮 */
.button_pic1{
	width: 330px;
	height: 65px;
	background-color: #E74F4D;

	position: absolute;
	top: 430px;
	left: 125px;

	cursor: pointer;
}

.pic1_start{
	font: 30px "微软雅黑";
    letter-spacing: 5px;
	color: white;

    position: absolute;
    top: 12px; 
    left: 95px;
}

/* 第二栏 */
.four_cols{
	width: 100%;
	height: 250px;

    font: 14px "黑体";
    color: #767777;

	background-color: white;

	margin: 0px;
	padding: 0px;
}

.col_1,.col_2,.col_3,.col_4{
	display: inline-block;
	width: 24%;

	text-align: center;
}

.col_1 img,.col_2 img,.col_3 img,.col_4 img{
    margin: 45px auto;
}

.t_col_1,.t_col_2,.t_col_3{
    display: block;
    padding-bottom: 15px;
    border-right: 2px solid #767777;
}

.t_col_4{
    display: block;
    padding-bottom: 15px;	
}

/* 第三栏 */
.pic3{
	height: 360px;
	background: #EDEDED;

	text-align: center;
}

.pic3 img{
	margin: 85px auto 50px;
}

.t_pic3{
    font: 54px "黑体";
    color: #A1A1A1;

	display: block;
}

/* 第四栏 */
.pic4{
	height: 342px;
    width: 100%;

    position: relative;
    text-align: center;
}

.pic4_img{
	width: 100%;
}

.pic4_cover{
	width: 100%;
    height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.h_pic4{
	display: block;
	font: 21px "微软雅黑";
	color: white;

	position: absolute;
	top: 50px;
	left: 500px;
}

.pic4_underline{
	height: 2px;
	width: 30px;
	background-color: white;

	position: absolute;
	top: 90px;
	left: 600px;
}

.t_pic4{
	display: block;
	font: 12px "微软雅黑";
	color: white;

	position: absolute;
	top: 110px;
	left: 450px;
}

/* 第四栏下拉列表 */
select{
	display: inline-block;
	width: 230px;
	height: 30px;
}

.country{
    position: absolute;
    top: 170px;
    left: 125px;
}

.province{
	position: absolute;
	top: 170px;
	left: 390px;
}

.city{
    position: absolute;
    top: 170px;
    right: 390px;
}

.search{
	display: block;
	width: 230px;
	height: 30px;
	background-color: #BF4F49;
    font: 14px/30px "微软雅黑";
    color: white;
    letter-spacing: 20px;

    position: absolute;
    top: 170px;
    right: 125px;

	cursor: pointer;
}

/* 第五栏 */
.pic5{
	height: 600px;
    background-color: #F8F8F8;

    position: relative;
}

.pic5 img{
	position: absolute;
	top: 156px;
	left: 115px;
}

.act1,.act2,.act3,.act4{
	width: 220px;
	height: 340px;
	background-color: white;
    
    display: inline-block;
    text-align: center;
}

.act1{
	position: absolute;
	top: 145px;
	left: 107px;
}

.act2{
	position: absolute;
    top: 195px;
    left: 360px;
}

.act3{
	position: absolute;
	top: 145px;
	right: 442px;
}

.act4{
	position: absolute;
	top: 145px;
	right: 186px;
}

.h_act1,.h_act3,.h_act4{
    font: 14px "微软雅黑";
    color: black;
	position: absolute;
    bottom: -30px;
    left: 82px;
}

.t_act1,.t_act3,.t_act4{
    font: 14px "微软雅黑";
    color: #B0B0B0;

    position: absolute;
    bottom: -55px;
    left: 65px;
}

.h_act2{
	width: 220px;
    font: 24px "微软雅黑";
    color: black;
    letter-spacing: 30px;

	position: absolute;
	top: -55px;
	left: 20px;
}

.t_act2{
	font: 14px "微软雅黑";
    color: #B0B0B0;

	position: absolute;
	top: -25px;
	left: 55px;
}

/* 第六栏 */
.pic6{
	display: inline-block;
    width: 100%;
    height: 569px;
    padding: 0px;
}

/* 第六栏左侧 */
.pic6_left{
	width: 850px;
	height: 565px;
	text-align: center;

	display: inline-block;

	position: relative;
}

.pic6_left img{
	position: absolute;
	top: 0px;
	left: 0px;
}

/* 小三角 */
.pic6_triangle{
	width: 0px;
	height: 0px;

    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
    border-right: 30px solid white;  

	position: absolute;
	right: -1px;
	top: 267px;
}

.h_pic6{
	font: 50px "微软雅黑";
	color: white;

	position: absolute;
	top: 120px;
	left: 0px;
	right: 0px;
}

.time{
	font: 157.79px "微软雅黑";
	color: white;

	position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
}

.date{
	font: 21.91px/40px "微软雅黑";
	color: white;

    position: absolute;
    bottom: 155px;
    left: 0px;
    right: 0px;
}

/* 第六栏右侧 */
.pic6_right{
    width: 425px;
    height: 565px;

    display: inline-block;
    text-align: center;

    position: absolute;
}

.h_pic6_right{
    font: 20px "微软雅黑";
    color: black;

    position: absolute;
    top: 160px;
    left: 0px;
    right: 0px;
}

.num_h{
	color: red;
}

.t_pic6_right{
	font: 12px/24px "宋体";
	color: #AAAAAA;

	position: absolute;
	top: 215px;
	left: 0px;
	right: 0px;
}

.more{
	width: 110px;
	height: 25px;
	color: red;
	border: 1px solid red;
	font: 12px "微软雅黑";

    margin: 0px auto;
    padding-top: 5px;

	position: absolute;
	bottom: 170px;
	left: 0px;
    right: 0px;

	cursor: pointer;
}

.circle1{
	width: 10px;
	height: 10px;
	border-radius: 6px;
	background-color: #929293;
	border: 1px solid #929293;

	position: absolute;
	bottom: 135px;
	left: 185px;
}

.circle2{
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px solid #929293;

	position: absolute;
	bottom: 135px;
	left: 215px;
}

.circle3{
	width: 10px;
	height: 10px;
	border-radius: 6px;
	border: 1px solid #929293;

	position: absolute;
	bottom: 135px;
	left: 245px;
}

/* 第七栏 */
.pic7{
	width: 100%;
	height: 519px;

	position: relative;
}

.pic7_1{
	width: 33%;
	height: 519px;
	background-color: #E8504F;
    text-align: center;

	display: inline-block;
	position: relative;
}

.h_pic7_1{
	font: 21px/35px "黑体";
    color: white;
    position: absolute;
    top: 175px;
    left: 0px;
    right: 0px;   
}

.pic7_underline1{
	height: 2px;
	width: 31px;
    background-color: white;
    margin: 0px auto;

    position: absolute;
    top: 260px;
    left: 0px;
    right: 0px;
}

.to_see_more1{
	width: 168px;
	height: 43px;
	background-color: #E8504F;
	color: white;
	border: 1px solid white;
	font: 21px/43px "黑体";

	margin: 300px auto 0px;

	cursor: pointer;
}

.pic7_2{
	width: 33%;
	height: 519px;
	background-color: white;
    text-align: center;

	display: inline-block;
	position: relative;
}

.h_pic7_2{
	font: 21px/35px "黑体";
    color: #E8504F;
    position: absolute;
    top: 175px;
    left: 0px;
    right: 0px;   
}

.pic7_underline2{
	height: 2px;
	width: 31px;
    background-color: #E8504F;
    margin: 0px auto;

    position: absolute;
    top: 260px;
    left: 0px;
    right: 0px;
}

.to_see_more2{
	width: 168px;
	height: 43px;
	background-color: white;
	color: #E8504F;
	border: 1px solid #E8504F;
	font: 21px/43px "黑体";

	margin: 300px auto 0px;

	cursor: pointer;
}

.pic7_triangle{
	width: 0px;
	height: 0px;

    border-top: 15px solid transparent;  
    border-bottom: 15px solid transparent;  
    border-left: 30px solid white;  

	position: absolute;
	right: 400px;
	top: 250px;
}

.pic7 img{
    position: absolute;
    right: 0px;
    top: 0px;
}

/* 第八栏 */
.pic8{
	height: 150px;
	width: 100%;
	background-color: white;

	text-align: center;
}

.h_pic8{
    font: 21px "黑体";
    color: black;

    margin-top: 120px;
}

.pic8_underline{
	height: 2px;
	width: 31px;
    background-color: #E8504F;
    margin: 10px auto 15px;
}

.t_pic8{
    font: 12px/18px "微软雅黑";
    color: #AAAAAA;
}

/* 第九栏 */
.pic9{
	height: 520px;
	width: 100%;
	background-color: white;
}

/* 第九栏左侧 */
.pic9_left{
    width: 290px;
	height: 520px;
    margin-left: 140px;

    display: inline-block;
    vertical-align: top;
}

.h_pic9{
	font: 14px "黑体";
	color: black;

	margin:60px 0px 10px;
}

.t_pic9{
	font: 12px/21px "宋体";
	color: black;
}

.more_pic9{
	font: 12px "宋体";
	float: right;
	cursor: pointer;
}

.h_pic9_m{
	font: 14px "黑体";
	color: black;

	margin:60px 0px 0px;
}

/* 第九栏右侧 */
.pic9_right{
	width: 700px;
	height: 400px;

	display: inline-block;
	margin: 60px 0px 0px 75px;
}

textarea{
	width: 320px;
	height: 40px;
    background-color: #EDEDEF;
    font: 12px/40px "宋体";
    border: none;
    resize: none;

    margin: 0px 20px 15px 0px;

	display: inline-block;
}

.life{
	width: 668px;
	height: 120px;
	font: 12px/40px "宋体";
}

.submit{
	width: 670px;
	height: 40px;
	background-color: #EDEDEF; 
	font: 14px/40px "黑体";
	border: none;

	cursor: pointer;
}

/* 第十栏 */
.pic10{
	height: 350px;
	width: 100%;
	background-color: #33363F;

    position: relative;
	text-align: center;
}

.h_pic10{
    font: 21px "黑体";
    color: white;

    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
}

.t_pic10{
    font: 12px/18px "宋体";
    color: white;

    position: absolute;
    top: 120px;
    left: 0px;
    right: 0px;
}

.mail{
	width: 430px;
	height: 42px;
    font: 14px/42px "微软雅黑";
    color: #AAAAAA;
    
    margin: 0px auto;

    position: absolute;
    top: 180px;
    left: 385px;
}

.submit_mail{
	width: 80px;
	height: 42px;
	background-color: #717179;
	font: 15px/42px "微软雅黑";
	color: white;
	border: none;

    position: absolute;
    top: 180px;
    left: 815px;

	cursor: pointer;
}

.pic10 img{
	position: absolute;
	top: 260px;
}

.logo1{
	left: 550px; 
	cursor: pointer;
}

.logo2{
	left: 600px;
	cursor: pointer;
}

.logo3{
	left: 650px;
	cursor: pointer;
}

.logo4{
	left: 700px;
	cursor: pointer;
}

/* 尾部 */
.footer{
	height: 60px;
	width: 100%;
	background-color: #30303A;
	font: 12px/60px "宋体";
	color: white;

	position: relative;
}

.h_footer{
	position: absolute;
	left: 100px;
}

.back_footer{
	position: absolute;
	right: 40px;
	font: 12px/60px "宋体";
	color: white;
	text-decoration: none;
}